

 <form method='POST' id='commentForm' action='/members/<%=id%>/new2'>
    <textarea form ='commentForm' name="comments" id="taid" cols="50" rows="20" wrap="soft"></textarea> 
    <input type="submit" value="submit" />
</form> 
