

<form method='POST' action='/members/<%=id%>/new'>
  <input name='rundate' type='date' placeholder='' />
  <input name='milesRan' type='number' placeholder='Miles Ran' />
  <input name='street1' type='text' placeholder='1st Intersecting Street' />
  <input name='street2' type='text' placeholder='2nd Intersecting Street'>
  <input name='city' type='text' placeholder='City'>
  <input type='submit' value='Submit!' />
</form>